.button {
    display: inline-block;
    border: 3px solid $main-color !important;
    margin-top: 10px;
    border-radius: 80px;
    color: $main-color;
    padding: 12px 30px;
    text-decoration: none;
    transition: all .3s;
    &:hover {
        color: #fff;
        background-color: $main-color;
    }
    &__task {
        color: $main-color;
        background-color: #fff;
        border-radius: 50px;
        padding: 15px 40px;
        font-size: 17px;
        font-weight: 500;
        margin-top: 0;
    }
    &__add {
        color: $main-color;
        background-color: #fff;
        border-radius: 50px;
        padding: 15px 40px;
        font-size: 17px;
        font-weight: 500;
        border: none;
        padding: 15px 40px 15px 28px;
        i {
            position: absolute;
            top: 27px;
            margin-left: 6px;
        }
    }
}