.hero {
    overflow: hidden;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        background: white;
        width: 100vw;
        height: calc(100% - 5rem);
        z-index: -1;
        font-size: 22px;
    }
    &-sh_1 {
        position: absolute;
        top: 0;
        right: 0;
    }
    &-sh_2 {
        position: absolute;
        top: 0;
        right: 0;
    }
    &-sh_3 {
        position: absolute;
        top: 0;
        right: 0;
    }
}